In [67]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 

from sklearn.preprocessing import OneHotEncoder, LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [ ]:
df = pd.read_csv('./data/bigml_59c28831336c6604c800002a.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   3333 non-null   object
 1   account length          3333 non-null   int64
 2   area code               3333 non-null   int64
 3   phone number            3333 non-null   object
 4   international plan      3333 non-null   object
 5   voice mail plan         3333 non-null   object
 6   number vmail messages   3333 non-null   int64
 7   total day minutes       3333 non-null   float64
 8   total day calls         3333 non-null   int64
 9   total day charge        3333 non-null   float64
 10  total eve minutes       3333 non-null   float64
 11  total eve calls         3333 non-null   int64
 12  total eve charge        3333 non-null   float64
 13  total night minutes     3333 non-null   float64
 14  total night calls       3333 non-null   int64
 15  total night charge      3333 non-null   float64
 16  total intl minutes      3333 non-null   float64
 17  total intl calls        3333 non-null   int64
 18  total intl charge       3333 non-null   float64
 19  customer service calls  3333 non-null   int64
 20  churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(4)
memory usage: 524.2+ KB

In [69]:
df.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [70]:
df['churn'].value_counts()

False    2850
True      483
Name: churn, dtype: int64

In [71]:
df['area code'] = df['area code'].astype('object')

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   3333 non-null   object
 1   account length          3333 non-null   int64
 2   area code               3333 non-null   object
 3   phone number            3333 non-null   object
 4   international plan      3333 non-null   object
 5   voice mail plan         3333 non-null   object
 6   number vmail messages   3333 non-null   int64
 7   total day minutes       3333 non-null   float64
 8   total day calls         3333 non-null   int64
 9   total day charge        3333 non-null   float64
 10  total eve minutes       3333 non-null   float64
 11  total eve calls         3333 non-null   int64
 12  total eve charge        3333 non-null   float64
 13  total night minutes     3333 non-null   float64
 14  total night calls       3333 non-null   int64
 15  total night charge      3333 non-null   float64
 16  total intl minutes      3333 non-null   float64
 17  total intl calls        3333 non-null   int64
 18  total intl charge       3333 non-null   float64
 19  customer service calls  3333 non-null   int64
 20  churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(7), object(5)
memory usage: 524.2+ KB

In [73]:
X = df.drop(columns=['churn', 'phone number'])
y = df['churn'].astype(int)

In [74]:
binary_cols = ['international plan', 'voice mail plan']
multi_cols = ['state', 'area code']

In [75]:
binary_cols, multi_cols

(['international plan', 'voice mail plan'], ['state', 'area code'])

In [76]:
le = LabelEncoder()
for col in binary_cols:
    X[col] = le.fit_transform(X[col])

In [77]:
ohe = OneHotEncoder(sparse= False, drop='first')
multi_encoded = ohe.fit_transform(X[multi_cols])

multi_col_names = ohe.get_feature_names(multi_cols)
multi_encoded_df = pd.DataFrame(multi_encoded, columns=multi_col_names, index=X.index)
multi_encoded_df

,state_AL,state_AR,state_AZ,state_CA,state_CO,state_CT,state_DC,state_DE,state_FL,state_GA,...,state_TX,state_UT,state_VA,state_VT,state_WA,state_WI,state_WV,state_WY,area code_415,area code_510
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3329,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3330,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3331,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3332,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [78]:
X = X.drop(columns= multi_cols)
X = pd.concat([X, multi_encoded_df], axis= 1)

In [79]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 69 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   account length          3333 non-null   int64
 1   international plan      3333 non-null   int32
 2   voice mail plan         3333 non-null   int32
 3   number vmail messages   3333 non-null   int64
 4   total day minutes       3333 non-null   float64
 5   total day calls         3333 non-null   int64
 6   total day charge        3333 non-null   float64
 7   total eve minutes       3333 non-null   float64
 8   total eve calls         3333 non-null   int64
 9   total eve charge        3333 non-null   float64
 10  total night minutes     3333 non-null   float64
 11  total night calls       3333 non-null   int64
 12  total night charge      3333 non-null   float64
 13  total intl minutes      3333 non-null   float64
 14  total intl calls        3333 non-null   int64
 15  total intl charge       3333 non-null   float64
 16  customer service calls  3333 non-null   int64
 17  state_AL                3333 non-null   float64
 18  state_AR                3333 non-null   float64
 19  state_AZ                3333 non-null   float64
 20  state_CA                3333 non-null   float64
 21  state_CO                3333 non-null   float64
 22  state_CT                3333 non-null   float64
 23  state_DC                3333 non-null   float64
 24  state_DE                3333 non-null   float64
 25  state_FL                3333 non-null   float64
 26  state_GA                3333 non-null   float64
 27  state_HI                3333 non-null   float64
 28  state_IA                3333 non-null   float64
 29  state_ID                3333 non-null   float64
 30  state_IL                3333 non-null   float64
 31  state_IN                3333 non-null   float64
 32  state_KS                3333 non-null   float64
 33  state_KY                3333 non-null   float64
 34  state_LA                3333 non-null   float64
 35  state_MA                3333 non-null   float64
 36  state_MD                3333 non-null   float64
 37  state_ME                3333 non-null   float64
 38  state_MI                3333 non-null   float64
 39  state_MN                3333 non-null   float64
 40  state_MO                3333 non-null   float64
 41  state_MS                3333 non-null   float64
 42  state_MT                3333 non-null   float64
 43  state_NC                3333 non-null   float64
 44  state_ND                3333 non-null   float64
 45  state_NE                3333 non-null   float64
 46  state_NH                3333 non-null   float64
 47  state_NJ                3333 non-null   float64
 48  state_NM                3333 non-null   float64
 49  state_NV                3333 non-null   float64
 50  state_NY                3333 non-null   float64
 51  state_OH                3333 non-null   float64
 52  state_OK                3333 non-null   float64
 53  state_OR                3333 non-null   float64
 54  state_PA                3333 non-null   float64
 55  state_RI                3333 non-null   float64
 56  state_SC                3333 non-null   float64
 57  state_SD                3333 non-null   float64
 58  state_TN                3333 non-null   float64
 59  state_TX                3333 non-null   float64
 60  state_UT                3333 non-null   float64
 61  state_VA                3333 non-null   float64
 62  state_VT                3333 non-null   float64
 63  state_WA                3333 non-null   float64
 64  state_WI                3333 non-null   float64
 65  state_WV                3333 non-null   float64
 66  state_WY                3333 non-null   float64
 67  area code_415           3333 non-null   float64
 68  area code_510           3333 non-null   float64
dtypes: float64(60), int32(2), int64(7)
memory usage: 1.7 MB

In [80]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42, stratify=y)

In [83]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [84]:
model = LogisticRegression(max_iter=1000)
model.fit(X_train_scaled, y_train)

LogisticRegression(max_iter=1000)

In [85]:
y_pred = model.predict(X_test_scaled)

In [86]:
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))  
print("Classification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.87
Confusion Matrix:
 [[828  27]
 [103  42]]
Classification Report:
               precision    recall  f1-score   support

           0       0.89      0.97      0.93       855
           1       0.61      0.29      0.39       145

    accuracy                           0.87      1000
   macro avg       0.75      0.63      0.66      1000
weighted avg       0.85      0.87      0.85      1000